<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="databaseTarget" xsi:type="Database">
			<dbProvider>System.Data.SqlClient</dbProvider>
			<connectionString>${configsetting:name=DbConnection}</connectionString>
			<commandText>
        INSERT INTO logs (log_level, message, logger, exception)
        VALUES (@log_level, @message, @logger, @exception);
      </commandText>
      <parameter name="@log_level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@exception" layout="${exception:format=ToString}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="databaseTarget" />
	</rules>
</nlog>