<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="database"
        xsi:type="Database"        
        connectionStringName="DbConnection"
        commandText="exec InsertLog
                    @level,
	                  @callsite,
	                  @type,
	                  @message, 
	                  @stackTrace,
	                  @innerException,
	                  @aditionalInfo">
      <parameter name="@level" layout="${level}"/>
      <parameter name="@callsite" layout="${callsite}"/>
      <parameter name="@type" layout="${exception:format=type}"/>
      <parameter name="@message" layout="${exception:format=message}"/>
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}"/>
      <parameter name="@innerException" layout="${exception:method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
      <parameter name="@aditionalInfo" layout="${message}"/>
      </target>  
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="database" />
       
    </rules>
</nlog>