<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="database"
        xsi:type="Database"        
        connectionStringName="Server=tcp:graspitez-dbserver.database.windows.net,1433;Initial Catalog=GraspItEzDB;Persist Security Info=False;User ID=chrzanu;Password=Konradzinka1#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        commandText="exec InsertLog
                      @level,
	                  @callsite,
	                  @type,
	                  @message, 
	                  @stackTrace,
	                  @innerException,
	                  @aditionalInfo">
      <parameter name="@level" layout="${level}"/>
      <parameter name="@callsite" layout="${callsite}"/>
      <parameter name="@type" layout="${exception:format=type}"/>
      <parameter name="@message" layout="${exception:format=message}"/>
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}"/>
      <parameter name="@innerException" layout="${exception:method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
      <parameter name="@aditionalInfo" layout="${message}"/>
      </target>
		<target xsi:type="File" name="test" fileName="d:\test.log" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}">
			
		</target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="database" />
		<logger name="*" minlevel="Trace" writeTo="test" />
       
    </rules>
</nlog>
